<ion-view view-title="Botón Bluetooth" ng-click="closeDrawer()">
  <ion-content>
    <div class="item-divider padding-horizontal">
      Estado: <span style="color: {{(!SESSION_ATTRS.isAuthenticated() || !IS_BTN_CONNECTED)? 'red':'green'}}">
        {{!SESSION_ATTRS.isAuthenticated()? 'Usuario no sincronizado': (IS_BTN_CONNECTED? 'Vinculado':'Botón no vinculado')}}
      </span>
    </div>

    <div class="item-body" ng-show="false">


      <div
          class="item-divider text-center"
          style="color: orange"
          ng-show="SESSION_ATTRS.isAuthenticated() && !isBLEEnabled">
          El Bluetooth no se encuentra activado
        </div>


        <div ng-show="SESSION_ATTRS.isAuthenticated()">
          <button
            class="button button-balanced button-full"
            ng-click="enableBLE()"
            ng-show="!isBLEEnabled && platform==='android'">
            Activar Bluetooth
          </button>

          <button
            id="bleButton"
            class="button button-{{IS_BTN_CONNECTED ?'positive secondary':'balanced'}} button-full"
            ng-if="isBLEEnabled"
            ng-click="toggleBLE()">
            {{IS_BTN_CONNECTED?'Desvincular Botón':'Vincular Botón Emergencias'}}
          </button>
        </div>

        <div style="height: 40px"></div>
        <button
          class="button button-{{IS_TRACKING ? 'assertive': 'balanced'}} button-full"
          ng-click="manageTracking()"
          ng-show="DEBUG_MODE || IS_TRACKING">
          {{IS_TRACKING?'Detener': 'Iniciar'}} Tracking
        </button>


        <div style="height: 40px"></div>
    </div>

    <md-content layout-padding>
      <div class="text-center">
        <img
          style="max-width: 100%"
          ng-src="img/{{'ble-'+(IS_BTN_CONNECTED?'connected':'disconnected')+'-'+platform}}.png"
          alt="ble-statusImage"
          ng-if="SESSION_ATTRS.isAuthenticated()">
        <img
          style="max-width: 100%"
          ng-src="img/unknown.png"
          alt="user-statusImage"
          ng-if="!SESSION_ATTRS.isAuthenticated()">
      </div>

      <div ng-show="!SESSION_ATTRS.isAuthenticated()">
        <div
          class="item-divider text-center item-text-wrap"
          style="color: orange">
          Es necesario inciar sesión para vincular el botón
        </div>
        <div layout="row" layout-align="center">
          <md-button
            class="md-raised md-primary button-full"
            ui-sref="sesion">
            Iniciar sesión
          </md-button>
        </div>
      </div>



      <div ng-if="SESSION_ATTRS.isAuthenticated()">
        <div
          class="item-divider text-center"
          style="color: orange"
          ng-if="!isBLEEnabled">
          El Bluetooth se encuentra deshabilitado
        </div>

        <div layout="row" layout-align="center"
             ng-if="!isBLEEnabled && PLATFORM.isAndroid()">
          <md-button
            class="md-raised md-accent md-hue1 button-full"
            ng-click="enableBLE()">
            Activar Bluetooth
          </md-button>
        </div>

        <div layout="row" layout-align="center" ng-if="isBLEEnabled">
          <md-button
            class="md-raised md-primary md-hue1 button-full"
            ng-if="!IS_BTN_CONNECTED"
            ng-click="toggleBtn()">
            Vincular botón
          </md-button>

          <md-button
            class="md-raised md-accent md-hue1 button-full"
            ng-if="IS_BTN_CONNECTED"
            ng-click="toggleBtn()">
            Desvincular boton
          </md-button>
        </div>
      </div>
    </md-content>

  </ion-content>
</ion-view>
