<ion-view title="Acerca de la Aplicación">
  <ion-content id="contactanos-view">
    <md-content>
      <md-card>
        <div id="about-companyIcon-container">
          <img id="aboutAppIcon" alt="about-company-image">
        </div>

        <md-card-title>
          <md-card-title-text>
            <h4 style="margin: 12px 0 3px 12px;">
              General Brigadier D.E.M
            </h4>
            <span style="font-size: 18px; font-weight: bold; color:#444; margin: 12px 0 3px 12px;">
              Pedro Almaz&aacute;n Cervantes
            </span>
            <!--<h4 style="margin: 20px 0 3px 12px;">
              Título 1
            </h4>
            <span style="font-size: 15px; font-weight: bold; color:#444; margin: 12px 0 3px 12px;">
              Título 2
            </span>-->
          </md-card-title-text>
        </md-card-title>

        <md-card-content>
          <p>
            Con verdadera humildad y respeto me dirijo a las familias que han
            sufrido la pérdida de un ser querido o que de alguna manera han visto
            afectado su patrimonio, la paz y tranquilidad de sus hogares, para
            expresarles que mi más grande compromiso es garantizar la seguridad
            de las personas así como sus bienes.<br><br>

            Por lo mismo quiero expresar que los que integramos la Secretaría de
            Seguridad Pública somos los primeros en solidarizarnos con ese dolor
            irreparable y comunico que no escatimaremos gestión y esfuerzo alguno
            para recuperar la fe y confianza de la ciudadanía, así como para
            fortalecer la capacidad operativa de la policía estatal que nos permita
            garantizar la protección de la ciudadanía.
          </p>
        </md-card-content>

      </md-card>
    </md-content>

    <md-content>
      <md-card>

        <div id="about-eonIcon-container">
          <img id="aboutEonIcon" alt="eon logo1">
        </div>

        <md-card-content>
          <p>
            Eon Innovaction es una empresa que desarrolla una amplia gama de equipos
            y sistemas integrales de seguridad, implementando innovadoras técnicas que
            permiten un mayor control urbano y una optimización de los recursos públicos
            y del personal, otorgando así a los gobiernos la capacidad de supervisar a
            los cuerpos policiacos en el desempeño de sus funciones, potencializando en
            la capacidad de reacción en eventos de emergencia y brindando a los C4's
            elementos eficientes que les permitan dar una eficaz respuesta, consolidando
            de esta forma un sólo frente contra la inseguridad que permita reducir al
            máximo tragedias y delitos.
          </p>
          <button
            class='button button-full primary'
            ng-click='rateApp()'
            ng-if="W_MODULE.APP_RATING">
            <i class="icon ion-android-star-outline"></i>&emsp;Califica la aplicaci&oacute;n
          </button>
        </md-card-content>
    </md-content>
    </md-card>

    <md-content>
      <md-card>

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Contáctanos</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>
          <form id="contactactanosForm" name="contactactanosForm" novalidate>
            <md-input-container class="md-icon-float md-block">
              <label>Nombre</label>
              <input
                ng-model="contactForm.userNombre"
                required
                name="u_nombre"
                md-auto-focus
                aria-label="nombre">
              <div ng-messages="contactactanosForm.u_nombre.$error" role="alert">
                <div ng-message="required">
                  Este campo es obligatorio
                </div>
              </div>
            </md-input-container>

            <md-input-container  class="md-icon-float md-block">
              <label>Email</label>
              <input
                ng-model="contactForm.userEmail"
                required
                type="email"
                name='u_email'
                ng-pattern="/^.+@.+\..+$/"
                aria-label="email"/>

              <div ng-messages="contactactanosForm.u_email.$error" role="alert">
                <div ng-message="required">
                  Este campo es obligatorio
                </div>
                <div ng-message="pattern">
                  La dirección de email tiene un formato incorrecto
                </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Comentarios</label>
              <textarea
                name="u_coments"
                ng-model="contactForm.userComentario"
                placeholder="Escriba al menos 10 caracteres"
                md-minlength="10"
                md-maxlength="500"
                required
                rows="5"></textarea>
              <div ng-messages="contactactanosForm.u_coments.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                  Debes escribir entre 10 y 500 caracteres.
                </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <md-button
                class="md-button md-raised md-accent md-ink-ripple button-full rounded"
                ng-click="sendComentarios(contactactanosForm)"
                ng-disabled="contactactanosForm.$invalid">Enviar los comentarios</md-button>
            </md-input-container>
          </form>
        </md-card-content>
      </md-card>
    </md-content>
  </ion-content>
</ion-view>
