<ion-view view-title="Bienvenidos">
    <ion-content>
      <md-content>
        <md-card>
          <div class="col">
            <img
              id="welcome-company-icon"
              alt="welcome-company-icon">
          </div>

          <md-content layout-padding style="min-height: 100px">
            <h4 ng-bind-html="blog.titulo" style="text-align: center"></h4>
            <img ng-src="{{blog.logo}}" class="thumbnail">
            <p ng-bind-html="blog.mensaje" style="text-align: justify"></p>
          </md-content>

          <md-content ng-if="MODULES.TRACKING && MODULES.UI_PANIC_BUTTON && SESSION_ATTRS.isAuthenticated()">
            <md-subheader class="md-no-sticky text-center text-primary">
              Sistema de Emergencias
            </md-subheader>
            <img
              id="welcome-auxilio-button-icon"
              ng-class="IS_BTN_CONNECTED?(IS_TRACKING?'BT-connected-Tracking':'BT-connected'):(IS_TRACKING?'BT-disconnected-Tracking':'BT-disconnected')"
              alt="auxilio-button-icon"
              ng-click="confirmEmergency()">
            <div class="item-text-wrap text-center" style="margin-top: 20px">
              Si tienes alguna emergencia en la cual se vea comprometida tu vida o la de alguna persona,
              presiona este botón.
            </div>
            <div
              class="item-text-wrap text-center"
              style="margin-top: 20px"
              ng-if="!(PLATFORM.isIPad() || PLATFORM.isIOS()) && IS_TRACKING">
              Estado: <b>Seguimiento</b>
            </div>
          </md-content>

          <md-content>
            <md-subheader class="md-no-sticky text-center text-primary">
              Sistema de Denuncia Directa
            </md-subheader>
            <img
              id="welcome-denunciaAnonima-button-icon"
              alt="denuncia-button-icon"
              ng-click="goToDenunciaAnonima()">
            <div class="item-text-wrap text-center" style="margin-top: 20px">
              Atendemos tus quejas las 24 horas, los 7 días de la semana.
            </div>
          </md-content>

          <md-divider></md-divider>

          <md-content layout-padding>
            <div id="socialNetworks-header" class="row">
              <div style="margin-left: auto; margin-right: auto; padding-left: auto; font-size: .8em">
                ¡Síguenos en redes sociales!
              </div>
            </div>

            <div class="row">
              <div class="col">
                <button ng-repeat="button in buttons track by $index"
                        class="button button-full {{button.buttonClass}}"
                        style="{{button.buttonStyle}}"
                        ng-click="openInappBrowser(button.url)">
                  <i class="icon {{button.iconClass}}"></i>
                  <span style="{{button.titleStyle}}">{{button.title}}</span>
                </button>
              </div>
            </div>
          </md-content>
        </md-card>
      </md-content>

  </ion-content>
</ion-view>
