<ion-content ng-controller="menuLateralCtrl"
             class="menu"
             style="
              background-image: url(img/menu-bg.png);
              background-size: 100%;
              background-position: 0px 190px;
              background-repeat: no-repeat;">
  <ion-list>
    <div ng-repeat="menuTab in menuTabs">
      <!-- Click en tab sin hijos -->
      <ion-item
        class="item item-{{isActiveGroup(menuTab)?'myMenu':'dark'}}"
        menu-close=""
        ng-class="{active: isActiveGroup(menuTab)}"
        ng-click="toggleGroup(menuTab.url); goToTab(menuTab)"
        ng-if="menuTab.url">
        <i class="icon {{menuTab.icon}}"></i>
        {{menuTab.name}}
      </ion-item>

      <ion-item
        class="item item-{{isActiveGroup(menuTab)?'myMenu':'dark'}}"
        ng-click="toggleGroup(menuTab);"
        ng-class="{active: isActiveGroup(menuTab)}"
        ng-if="!menuTab.url">
        <i
          class="icon {{menuTab.icon}}"
          ng-class="isGroupShown(menuTab) ? 'ion-minus' : 'ion-plus'"></i>
        &#xA0;
        {{menuTab.name}}
      </ion-item>

      <!-- clic en tab hijo -->
      <ion-item
        href="{{item.url}}"
        class="item item-accordion"
        ng-class="{isChildTabActive: isActiveChild(item.url)}"
        menu-close=""
        ng-if="!menuTab.url"
        ng-repeat="item in menuTab.items"
        ng-show="isGroupShown(menuTab)"
        ng-click="activateGroup(menuTab)">
        {{item.title}}
      </ion-item>
    </div>


    <!--<img src="img/drawable-port-xhdpi-screen.png" style="width: 100%" alt="" menu-close>-->
  </ion-list>

</ion-content>
