/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$positive: #21254c !default;

$primaryColor:         #015561 !default;
$primaryAccentColor:   #14644e !default;
$primaryDisabledColor: #99bbc0 !default;

$secondaryColor:       #ffeb86 !default;
$secondaryAccentColor: #e2cc2e !default;

$defaultColor:         #d4d2ca !default;
$defaultAccentColor:   #b3b1aa !default;

.button.primary{
  background-color: $primaryColor;
  border-color:     darken($primaryColor, 10%);
  color: #fff;
}
.button.primary.activated{
  background-color: $primaryAccentColor;
  border-color:     darken($primaryAccentColor, 10%);
  color: #fff;
}

.button.secondary{
  background-color: $secondaryColor;
  border-color:     darken($secondaryColor, 10%);
  color: #696969;
  font-weight: normal;
}
.button.secondary.activated{
  background-color: $secondaryAccentColor;
  border-color:     darken($secondaryAccentColor, 10%);
  color: #696969;
}
.button.button-default{
  background-color: $defaultColor;
  border-color:     darken($defaultColor, 10%);
  color: #5a5a5a;
  font-weight: normal;
}
.button.button-default.activated{
  background-color: $defaultAccentColor;
  border-color:     darken($defaultAccentColor, 10%);
  color: #5a5a5a;
}

a.navButton, .tracker.active{
  background-color: $primaryDisabledColor;
  border-color:     darken($primaryDisabledColor, 10%);
  color: #fff;
}
a.navButton.navBtnActivo{
  background-color: $primaryColor;
  border-color:     darken($primaryColor, 10%);
  color: #fff;
}



.ios-searchfile-btn{
  width: 40px; height: 34px; float: right;
  color: white;
  border-radius: 5px;
  background-image: url(../img/ios7-search-strong.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;background-position: 10px 7px;
  margin-top: -8px;

  &.ios-searchfile-btn-enabled{
    background-color: $primaryColor;
  }

  &.ios-searchfile-btn.ios-searchfile-btn-disabled{
    background-color: $primaryDisabledColor;
    color: transparent;
  }
}

.ion-help-circled:before{
  color: $primaryColor;
}

.item-divider.text-primary{
  color: $primaryAccentColor;
}

.item.active.item-myMenu{
  background-color: $positive;
  border-color:     darken($positive, 10%);
  background-image: linear-gradient(0deg, $positive, darken($positive, 7%) 50%, transparent 50%);
  color: #fff;
}

.bar.bar-positive{
  border-color: #22254c;
  background-color: #22254c;
  background-image: linear-gradient(0deg, #22254c, #22254c 50%, transparent 50%);
}

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
