<md-dialog aria-label="Recuperar contraseña">
  <form name="recover_PassForm" id="recover_PassForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span style="color: #fff;">Recuperar contraseña</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Usuario</label>
          <input
            type="number"
            ng-pattern="/^[0-9]{10}$/"
            ng-model="recoveryPasswordForm._username"
            required
            name="username"
            aria-label="Usuario"
            md-autofocus>
          <div ng-messages="recover_PassForm.username.$error" role="alert">
            <div ng-message="required">Este campo es reqerido</div>
            <div ng-message="pattern">Debe tener 10 dígitos</div>
          </div>
        </md-input-container>

        <div layout="row">
          <p>Recibirá un correo electrónico a la cuenta registrada</p>
        </div>

        <md-dialog-actions layout="row">
          <md-button
            class="md-primary md-raised"
            ng-click="doRecoveryPassword()"
            ng-disabled="recover_PassForm.$invalid">
            Enviar
          </md-button>
        </md-dialog-actions>
      </div>
    </md-dialog-content>

  </form>
</md-dialog>
