<md-dialog aria-label="Formulario de registro">
  <form name="registration_Form" id="registration_Form" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <img src="img/unknown.png" alt="user-unknown" style="width: 30px;"/>
        &emsp;<h2 style="color: #fff;">Nuevo usuario</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding>


      <md-card-header>
        <md-card-header-text>
          <h3>Datos Personales</h3>
        </md-card-header-text>
      </md-card-header>


      <md-input-container class="md-block">
        <label>Nombre</label>
        <input ng-model="newUserForm._username" required name="name" aria-label="nombre" md-autofocus>
        <div ng-messages="registration_Form.name.$error" role="alert">
          <div ng-message-exp="['required']">
            Este campo es requerido.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Apellido paterno</label>
        <input ng-model="newUserForm.paterno" required name="paterno" aria-label="apellido paterno">
        <div ng-messages="registration_Form.paterno.$error" role="alert">
          <div ng-message-exp="['required']">
            Este campo es requerido.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Apellido materno</label>
        <input ng-model="newUserForm.materno" required name="materno" aria-label="apellido materno">
        <div ng-messages="registration_Form.materno.$error" role="alert">
          <div ng-message-exp="['required']">
            Este campo es requerido.
          </div>
        </div>
      </md-input-container>

      <md-input-container  class="md-block">
        <label>Email</label>
        <input ng-model="newUserForm.email" required type="email" name='e_mail'
               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"
               aria-label="email"/>

        <div ng-messages="registration_Form.e_mail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            El email debe tener entre 10 y 100 caracteres y tener formato de dirección de correo electrónico.
          </div>
        </div>
      </md-input-container>

      <md-input-container  class="md-block">
        <label>Teléfono</label>
        <input ng-model="newUserForm.telefono" required type="number" name='telefono'
               minlength="10" maxlength="10"
               aria-label="telefono"/>

        <div ng-messages="registration_Form.telefono.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength']">
            El email debe tener entre 10 y 100 caracteres y tener formato de dirección de correo electrónico.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Contraseña</label>
        <input ng-model="newUserForm.password1" type="password" required name="password1" aria-label="password 1">
        <div ng-messages="registration_Form.password1.$error" role="alert">
          <div ng-message-exp="['required']">
            Este campo es requerido.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block {{newUserForm.password1 && newUserForm._password && (newUserForm.password1 != newUserForm._password)?
            'md-input-invalid':''}}">
        <label>Repetir Contraseña</label>
        <input
          ng-model="newUserForm._password"
          type="password" required name="password2" aria-label="password 2">
        <div ng-messages="change_PassForm.pass2.$error || (newUserForm.password1.length && newUserForm._password.length && (newUserForm.password1 != newUserForm._password))" role="alert">
          <div ng-message-exp="['required']">
            Este campo es requerido.
          </div>
        </div>
        <div
          ng-show="newUserForm.password1.length && newUserForm._password.length && (newUserForm.password1 != newUserForm._password)"
          class="md-input-messages-animation md-auto-hide ng-active">
          <div
            class="md-input-message-animation" ng-if="newUserForm.password1.length && newUserForm._password.length && (newUserForm.password1 != newUserForm._password)">
            Las contraseñas no coinciden
          </div>
        </div>
      </md-input-container>

      <md-input-container>
        <md-switch ng-model="newUserForm.contactar" aria-label="Contactar"ng-init="newUserForm.contactar=true">
          Quiero recibir información
        </md-switch>
      </md-input-container>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button
        class="md-primary md-raised"
        ng-click="doRegister()"
        ng-disabled="registration_Form.$invalid  || (newUserForm.password1 != newUserForm._password)">
        Enviar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
