<md-dialog aria-label="Cambiar contraseña">
  <form name="change_PassForm" id="change_PassForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span style="color: #fff;">Cambiar contraseña</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Contraseña actual</label>
          <input ng-model="changePasswordForm._oldPassword" type="password" required name="oldPass" aria-label="Contraseña anterior" md-autofocus>
          <div ng-messages="change_PassForm.oldPass.$error" role="alert">
            <div ng-message-exp="['required']">
              Este campo es requerido.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Nueva contraseña</label>
          <input ng-model="changePasswordForm._newPassword1" type="password" required name="pass1" aria-label="password 1">
          <div ng-messages="change_PassForm.pass1.$error" role="alert">
            <div ng-message-exp="['required']">
              Este campo es requerido.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block {{changePasswordForm._newPassword1 && changePasswordForm._newPassword && (changePasswordForm._newPassword1 != changePasswordForm._newPassword)?
            'md-input-invalid':''}}">
          <label>Repetir contraseña</label>
          <input ng-model="changePasswordForm._newPassword" type="password" required name="pass2" aria-label="password 2">
          <div ng-messages="change_PassForm.pass2.$error || (changePasswordForm._newPassword1.length && changePasswordForm._newPassword.length && (changePasswordForm._newPassword1 != changePasswordForm._newPassword))" role="alert">
            <div ng-message-exp="['required']">
              Este campo es requerido.
            </div>
          </div>
          <div
            ng-show="changePasswordForm._newPassword1.length && changePasswordForm._newPassword.length && (changePasswordForm._newPassword1 != changePasswordForm._newPassword)"
            class="md-input-messages-animation md-auto-hide ng-active">
            <div
              class="md-input-message-animation" ng-if="changePasswordForm._newPassword1.length && changePasswordForm._newPassword.length && (changePasswordForm._newPassword1 != changePasswordForm._newPassword)">
              Las contraseñas no coinciden
            </div>
          </div>
        </md-input-container>

        <md-dialog-actions layout="row">
          <md-button
            class="md-primary md-raised"
            ng-click="doChangePassword()"
            ng-disabled="change_PassForm.$invalid || (changePasswordForm._newPassword1 != changePasswordForm._newPassword)">
            Enviar
          </md-button>
        </md-dialog-actions>
      </div>
    </md-dialog-content>

  </form>
</md-dialog>
