<md-dialog aria-label="Validar código">
  <form name="validate_codeForm" id="validate_codeForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span style="color: #fff;">Validar código</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Código</label>
          <input
            type="text"
            minlength="6"
            md-maxlength="6"
            ng-model="validateCodeForm.codigo"
            required
            name="codigo"
            aria-label="Código"
            md-autofocus>
          <div ng-messages="validate_codeForm.codigo.$error" role="alert">
            <div ng-message="required">Este campo es reqerido</div>
            <div ng-message-exp="['minlength', 'maxlength']">Debe tener 6 dígitos</div>
          </div>
        </md-input-container>

        <md-dialog-actions layout="row">
          <md-button
            class="md-primary md-raised"
            ng-click="validateCode()"
            ng-disabled="validate_codeForm.$invalid">
            Enviar
          </md-button>
        </md-dialog-actions>
      </div>
    </md-dialog-content>

  </form>
</md-dialog>
