<ion-view view-title="Perfil">
  <ion-content>
    <md-content>
      <!--<md-card>-->
      <div layout="row" layout-align="center" layout-padding>
        <img
          id="user-profile-avatar"
          src="img/unknown.png" alt="user-avatar">
      </div>

      <div id="user-profile-container" ng-if="SESSION_ATTRS.isAuthenticated()" class="text-center">
      <h3>
        {{user.telefono}}
      </h3>
        <h4>
          {{user.nombre}} {{user.paterno}} {{user.materno}}
        </h4>
      </div>

      <div class="spacer-buttom"></div>
      
      <!--</md-card>-->
    </md-content>
  </ion-content>
</ion-view>
