<ion-view view-title="Sesión">
  <ion-content>
    <md-content>
      <!--<md-card>-->
      <div layout="row" layout-align="center" layout-padding>
        <img
          id="login-logo"
          src="img/welcome-corp-icon.png" alt="company-logo">
      </div>

      <form name="login_Form" id="login_Form">
        <div id="login-input-container">
          <div ng-if="!SESSION_ATTRS.isAuthenticated()">
            <md-input-container class="md-block">
              <label>Teléfono</label>
              <input
                type="number"
                ng-pattern="/^[0-9]{10}$/"
                required name="telefono" ng-model="loginForm.loginField">
              <div ng-messages="login_Form.telefono.$error">
                <div ng-message="required">Este campo es reqerido</div>
                <div ng-message="pattern">Debe tener 10 dígitos</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Contraseña</label>
              <input type="password" required name="password" ng-model="loginForm.passwordField">
              <div ng-messages="login_Form.password.$error">
                <div ng-message="required">Este campo es reqerido</div>
              </div>
            </md-input-container>

            <md-switch ng-model="loginForm.isRemembered" aria-label="Recuerdame" class="md-primary">
              Recuerdame
            </md-switch>

            <div layout="row" layout-align="center">
              <md-button class="md-raised md-primary button-full"
                         ng-click="doLogin(login_Form)"
                         ng-disabled="login_Form.$invalid">
                Enviar
              </md-button>
            </div>

            <div layout="row" layout-align="center" ng-if="MODULES.SESSION.PASS_RECOVER">
              <md-button class="md-accent" ng-click="passwordRecoveryForm()">
                Olvidé mi contraseña
              </md-button>
            </div>

            <div layout="row" layout-align="center" ng-if="MODULES.SESSION.REGISTER">
              <md-button class="md-primary md-hue1" ng-click="userRegitrationForm()">
                Quiero registrarme
              </md-button>
            </div>

            <div layout="row" layout-align="center" ng-if="MODULES.SESSION.REGISTER">
              <md-button class="md-accent md-hue1" ng-click="codeValidationForm()">
                Código de validación
              </md-button>
            </div>
          </div>

          <div ng-if="SESSION_ATTRS.isAuthenticated()">
            <div layout="row" layout-align="center">
              <md-button class="md-raised md-accent button-full" ng-click="doLogout()">
                Cerrar sesión
              </md-button>
            </div>

            <div layout="row" layout-align="center" ng-if="MODULES.SESSION.PASS_CHANGE">
              <md-button class="md-primary" ng-click="passwordChangeForm()">
                Cambiar mi contraseña
              </md-button>
            </div>
          </div>
        </div>

        <div class="spacer-buttom"></div>
      </form>
      <!--</md-card>-->
    </md-content>
  </ion-content>
</ion-view>
