<md-dialog aria-label="Ubicar dirección">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <img src="img/unknown.png" alt="user-unknown" style="width: 30px;"/>
      &emsp;<h2 style="color: #fff;">Ubicar dirección</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>

      <div id='map1' class='map' style="width: 100%; height:100%; position: absolute;"></div>
      <div class="text-center" style="position: absolute; width:100%; bottom: 10px;">
        <md-button
          class="md-fab md-mini"
          ng-click="locateme()"
          aria-label="Localízame">
          <!--<md-icon md-svg-src="img/icons/cake.svg"></md-icon>-->
          <i class="icon ion-android-locate"></i>
        </md-button>
      </div>

  </md-dialog-content>
</md-dialog>
