<ion-view title="Mis solicitudes ({{denunciasList.length || 0}})">
    <ion-content>
      <md-card>
        <md-subheader class="md-no-sticky text-center" ng-if="!denunciasList.length">A&uacute;n no ha realizado solicitudes</md-subheader>

        <table id="misSolicitudes-table" style="width: 100%; margin: 0" ng-if="denunciasList.length">
          <thead class="fileTableHeader">
          <tr>
            <th ng-click="sortByNum()">
              <span class="{{numSortClass}}">  No.</span>
            </th>
            <th ng-click="sortByTipo()">
              <span class="{{tipoSortClass}}">  Tipo</span>
            </th>
            <th ng-click="sortByFecha()">
              <span class="{{fechaSortClass}}">  Fecha y Hora</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr
            ng-class-odd="'odd'" ng-class-even="'even'"
            ng-repeat="denuncia in denunciasList | orderBy:sortField:reverse track by denuncia.numero"
            ng-click="showStatus(denuncia.numero)">
            <td class="fileTableCol taller-Col">{{denuncia.numero}}</td>
            <td class="fileTableCol taller-Col">{{denuncia.tipo}}</td>
            <td class="fileTableCol taller-Col">{{denuncia.fecha}}</td>
          </tr>
          </tbody>
        </table>
      </md-card>
    </ion-content>
</ion-view>
