<ion-view view-title="Cuestionario">
  <ion-nav-buttons style="margin-right: 10px">
    <button
      class="button button-icon button-clear ion-android-arrow-back  md-ink-ripple"
      ng-click="showForm('Menu')"
      ng-show="formShowed !== 'Menu'">
    </button>
  </ion-nav-buttons>
  <ion-content id="test-view">

    <md-content style="height: 100%" ng-show="formShowed == 'Menu'">
      <md-list class="servicios-md-list" style="padding: 0;">
        <md-subheader class="md-no-sticky">
          <p ng-if="DEBUG_MODE">Solicitud: {{solicitud.idTicket}}</p>
          <p>Aquí podrá agregar más información a su solicitud</p>
        </md-subheader>
        <md-list-item class="md-2-line servicio-menu-item"
                      ng-repeat="form in formularios"
                      ng-click="showForm(form.name)"
                      ng-if="form.name == 'Preguntas'?preguntas.items.length:
              form.name == 'Vehículos'?vehiculos.marcas:
              form.name == 'Sujetos'?sujetoCaracteristicas.length:
              form.name == 'Objetos'?objetos.categorias:
              form.name == 'Multimedia'?MODULES.ENCUESTA.MM_FILES: false">
          <img src="img/tick.png" class="md-avatar" alt="{{form.name}}" />
          <div class="md-list-item-text" layout="column">
            <h3>
              {{form.name == 'Preguntas'?numRespuestas:
              form.name == 'Vehículos'?vehiculosToSaveList.length:
              form.name == 'Sujetos'?sujetosToSaveList.length:
              form.name == 'Objetos'?objetoToSaveList.length:
              form.name == 'Multimedia'?fileList.length: ''}}
              {{form.name}}
            </h3>
            <p>
              Mensaje de advertencia...
            </p>
            <div class="md-secondary md-icon-button" aria-label="{{form.name}}">
              <i class="icon ion-chevron-right"></i>
            </div>
          </div>
          <md-divider ></md-divider>
        </md-list-item>
      </md-list>
      <div class="text-right">
        <md-button
          class="md-raised md-primary md-ink-ripple"
          ng-click="verifyAndSend()">Enviar</md-button>
      </div>
    </md-content>

    <md-content>
      <!-- PREGUNTAS -->
      <md-card ng-show="formShowed == 'Preguntas'">
        <md-subheader class="md-no-sticky text-center">
          Preguntas: {{preguntas.items.length}}
        </md-subheader>
        <md-card-content>
          <md-input-container class="md-icon-float md-block" ng-repeat="data in preguntas.items track by $index">
            <label style="">
              <span style="color: #F4A01E">{{$index + 1}}. </span> {{data.pregunta}}</label>
            <input
              type="text"
              ng-model="data.respuesta"
              ng-blur="respuestaBlur()"
              aria-label="pregunta {{$index + 1}}">
          </md-input-container>
        </md-card-content>
      </md-card>

      <!-- VEHICULOS -->
      <md-card ng-show="formShowed == 'Vehículos'">
        <md-subheader class="md-no-sticky text-center">
          Veh&iacute;culo {{vehiculosToSaveList.length + 1}}
        </md-subheader>
        <md-card-content>
          <md-input-container class="md-icon-float md-block">
            <label>Marca</label>
            <md-select
              ng-model="vehiculoFormData.marcaSel"
              ng-change="onMarcaChange(vehiculoFormData.marcaSel.id)">
              <md-option
                ng-value="marca"
                ng-selected="$first"
                ng-repeat="marca in vehiculos.marcas track by marca.id">{{marca.title}}</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <label>Modelo</label>
            <md-select
              ng-model="vehiculoFormData.modeloSel"
              ng-change="toggleVehiculosButton()">
              <md-option
                ng-value="modelo"
                ng-selected="$first"
                ng-repeat="modelo in vehiculos.modelos track by modelo.id">{{modelo.title}}</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <label>Color</label>
            <md-select
              ng-model="vehiculoFormData.colorSel"
              ng-change="toggleVehiculosButton()">
              <md-option
                ng-value="color"
                ng-selected="$first"
                ng-repeat="color in vehiculos.colores track by color.id">{{color.title}}</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <label>Año</label>
            <input
              type="number"
              ng-model="vehiculoFormData.anio"
              aria-label="año">
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <label>Placas</label>
            <input
              type="text"
              name="placas"
              maxlength="8"
              ng-change="toggleVehiculosButton()"
              ng-model="vehiculoFormData.placas"
              aria-label="placas">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Descripci&oacute;n</label>
            <textarea
              placeholder="Describa aqu&iacute; las caracter&iacute;sticas del veh&iacute;culo"
              ng-change="toggleVehiculosButton()"
              ng-model="vehiculoFormData.descripcion"
              md-maxlength="150"
              rows="5"></textarea>
          </md-input-container>

        </md-card-content>

        <table style="width: 100%; margin: auto;">
          <thead class="fileTableHeader">
          <tr>
            <th>Marca</th><th>Modelo</th><th>Color</th><th>A&ntilde;o</th><th colspan="2">Placas</th>
          </tr>
          </thead>
          <tbody>
          <tr
            ng-class-odd="'odd'" ng-class-even="'even'"
            ng-repeat="vehiculo in vehiculosToSaveList">
            <td class="fileTableCol">{{vehiculo.marca.title}}</td>
            <td class="fileTableCol">{{vehiculo.modelo.title}}</td>
            <td class="fileTableCol">{{vehiculo.color.title}}</td>
            <td class="fileTableCol">{{vehiculo.anio|| "N/A"}}</td>
            <td class="fileTableCol">{{vehiculo.placa|| "N/A"}}</td>
            <td class="fileTableCol fileTableCol-remove" ng-click="deleteVehiculo($index)">
              <img src="" class="removeFileIcon" alt="quitar archivo" style="padding: 0;">
            </td>
          </tr>
          <tr ng-show="!vehiculosToSaveList.length">
            <td colspan="6" class="fileTableCol" style="text-align: center">
              A&uacute;n no ha agregado veh&iacute;culos...
            </td>
          </tr>
          </tbody>
        </table>
        <div class="spacer-bottom-for-fab"></div>
      </md-card>

      <!-- SUJETOS -->
      <md-card ng-show="formShowed == 'Sujetos'">
        <md-subheader class="md-no-sticky text-center">
          Sujeto {{sujetosToSaveList.length + 1}}
        </md-subheader>

        <md-card-content>
          <md-input-container class="md-icon-float md-block">
            <label>Nombre</label>
            <input
              type="text"
              name="nombre"
              ng-model="sujetoGenerales.nombre"
              aria-label="Nombre">
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <label>Alias</label>
            <input
              type="text"
              name="alias"
              ng-model="sujetoGenerales.alias"
              aria-label="Alias">
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <label>Acento</label>
            <input
              type="text"
              name="acento"
              ng-model="sujetoGenerales.acento"
              aria-label="acento">
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <label>Tipo de voz</label>
            <input
              type="text"
              name="voz"
              ng-model="sujetoGenerales.voz"
              aria-label="voz">
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <label>Rasgo distintivo</label>
            <input
              type="text"
              name="rasgo"
              ng-model="sujetoGenerales.rasgo"
              aria-label="rasgo">
          </md-input-container>

          <md-input-container class="md-icon-float md-block"
                              ng-repeat="catalogo in sujetoCaracteristicas">
              <label>{{catalogo.title}}</label>
            <md-select
              ng-model="catalogo.selectedOption"
              ng-change="toggleSujetosButton()" aria-label="opciones">
              <md-option
                ng-value="opcion"
                ng-selected="$first"
                ng-repeat="opcion in catalogo.options track by opcion.id">{{opcion.title}}</md-option>
            </md-select>
          </md-input-container>
        </md-card-content>

        <table style="width: 100%; margin: auto;">
          <thead class="fileTableHeader">
          <tr>
            <th>Nombre</th><th>Alias</th><th colspan="2">G&eacute;nero</th>
          </tr>
          </thead>
          <tbody>
          <tr
            ng-class-odd="'odd'" ng-class-even="'even'"
            ng-repeat="sujetoForm in sujetosToSaveList">
            <td class="fileTableCol">{{sujetoForm.generales.nombre}}</td>
            <td class="fileTableCol">{{sujetoForm.generales.alias}}</td>
            <td class="fileTableCol">{{sujetoForm.generales.genero}}</td>
            <td class="fileTableCol fileTableCol-remove" ng-click="deleteSujeto($index)">
              <img src="" class="removeFileIcon" alt="quitar archivo" style="padding: 0;">
            </td>
          </tr>
          <tr ng-show="!sujetosToSaveList.length">
            <td colspan="4" class="fileTableCol" style="text-align: center">
              A&uacute;n no ha agregado sujetos...
            </td>
          </tr>
          </tbody>
        </table>
        <div class="spacer-bottom-for-fab"></div>
      </md-card>

      <!-- OBJETOS -->
      <md-card ng-show="formShowed == 'Objetos'">
        <md-subheader class="md-no-sticky text-center">
          Objeto {{objetoToSaveList.length + 1}}
        </md-subheader>

        <md-card-content>
          <md-input-container class="md-icon-float md-block">
            <label>Categor&iacute;a</label>
            <md-select
              ng-model="objetoFormData.categoriaSel"
              ng-change="onObjCatChange(objetoFormData.categoriaSel.id);">
              <md-option
                ng-value="categoria"
                ng-selected="$first"
                ng-repeat="categoria in objetos.categorias track by $index">{{categoria.title}}</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <label>Subcategor&iacute;a</label>
            <md-select
              ng-model="objetoFormData.subCategoriaSel"
              ng-change="toggleObjetosButton()">
              <md-option
                ng-value="subcategoria"
                ng-selected="$first"
                ng-repeat="subcategoria in objetos.subcategorias track by subcategoria.id">{{subcategoria.title}}</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-icon-float md-block">
            <label>Cantidad</label>
            <input
              type="text"
              name="cantidad"
              maxlength=10
              ng-model="objetoFormData.cantidad"
              aria-label="cantidad">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Descripci&oacute;n</label>
            <textarea
              placeholder="Describa aqu&iacute; las caracter&iacute;sticas del objeto"
              ng-model="objetoFormData.descripcion"
              md-maxlength="150"
              rows="5"></textarea>
          </md-input-container>

        </md-card-content>

        <table style="width: 100%; margin: auto;">
          <thead class="fileTableHeader">
          <tr>
            <th>Categor&iacute;a</th><th>Subcategor&iacute;a</th><th colspan="2">Cantidad</th>
          </tr>
          </thead>
          <tbody>
          <tr
            ng-class-odd="'odd'" ng-class-even="'even'"
            ng-repeat="objetoForm in objetoToSaveList track by $index">
            <td class="fileTableCol">{{objetoForm.categoria.title}}</td>
            <td class="fileTableCol">{{objetoForm.subCategoria.title}}</td>
            <td class="fileTableCol">{{objetoForm.cantidad|| '0'}}</td>
            <td class="fileTableCol fileTableCol-remove" ng-click="deleteObjeto($index)">
              <img src="" class="removeFileIcon" alt="quitar archivo" style="padding: 0;">
            </td>
          </tr>
          <tr ng-show="!objetoToSaveList.length">
            <td colspan="4" class="fileTableCol" style="text-align: center">
              A&uacute;n no ha agregado objetos...
            </td>
          </tr>
          </tbody>
        </table>
        <div class="spacer-bottom-for-fab"></div>
      </md-card>

      <!-- MULTIMEDIA -->
      <md-card ng-show="formShowed == 'Multimedia'">
        <md-subheader class="md-no-sticky text-center">
          Ticket Multimedia {{DEBUG_MODE ? idTicket : ''}}
        </md-subheader>

        <md-card-content>
          <form name="surveyMultimediaForm" novalidate>
            <md-input-container class="md-block">
              <label>Descripci&oacute;n</label>
              <textarea
                name="comentarios"
                required
                rows="5"
                placeholder="Escriba aquí sus comentarios (al menos 10 caracteres)"
                ng-model="multimedia.comentarios"
                minlength="10"
                maxlength="500"></textarea>
              <div ng-messages="surveyMultimediaForm.comentarios.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                  Debes escribir entre 10 y 500 caracteres.
                </div>
              </div>
            </md-input-container>
          </form>
        </md-card-content>

        <table style="width:100%; margin: 0" ng-if="fileList.length">
          <thead class="fileTableHeader">
          <tr>
            <th><a href="" >&nbsp;&nbsp;Archivo {{fileList.length}} de 5</a></th>
          </tr>
          </thead>
          <tbody>
          <tr
            ng-class-odd="'odd'" ng-class-even="'even'"
            ng-repeat="file in fileList">
            <td class="fileTableCol fileTableCol-nombre">
              <md-progress-linear
                id="ft-prog-{{file.id}}"
                class="md-accent"
                md-mode="determinate" value="{{file.total}}">{{file.total| number: 0}}%</md-progress-linear>
              <div class="row">
                <div class="col-90">
                  <div style="vertical-align: middle">
                    <img ng-if="file.isImage" ng-src="{{file.uri}}" alt="" style="max-width: 60px; max-height: 60px;">
                    <md-icon ng-if="!file.isImage" md-svg-icon="img/icons/ic_insert_drive_file.svg"></md-icon>
                  </div>
                  <div class="fileName" style="margin-left:auto;margin-right:auto;">
                    {{file.nombre}}
                  </div>
                </div>
                <div class="col-10" ng-click="confirmDeleteFile($index)">
                  <img src="" class="removeFileIcon" alt="quitar archivo" style="padding: 0;">
                </div>
              </div>
            </td>
          </tr>
          <tr ng-show="!fileList.length">
            <td colspan="2" class="fileTableCol" style="text-align: center">
              A&uacute;n no ha agregado archivos...
            </td>
          </tr>
          <!--<tr>
            <td>
              <md-button class="md-raised md-accent" ng-click="testMultiUpload()">
                multiUpload
              </md-button>
            </td>
          </tr>-->
          </tbody>
        </table>

        <p class="denWarnigns text-right" ng-show="!fileList.length">
          Agregue fotos, audio o video a la solicitud
        </p>
        <div class="spacer-bottom"></div>
      </md-card>

    </md-content>
  </ion-content>


  <!-- FLOATING BUTTONS -->

  <!-- Vehiculos -->
  <md-button
    class="md-fab md-accent md-fab-bottom-right"
    aria-label="agregar vehiculos"
    ng-click="addVehiculo()"
    ng-if="formShowed == 'Vehículos' && botonesFAB.vehiculos">
    <md-icon md-svg-src="img/icons/ic_playlist_add.svg"></md-icon>
  </md-button>

  <!-- Sujetos -->
  <md-button
    class="md-fab md-accent md-fab-bottom-right"
    aria-label="agregar sujeto"
    ng-click="addSujetos()"
    ng-if="formShowed == 'Sujetos' && botonesFAB.sujetos">
    <md-icon md-svg-src="img/icons/ic_playlist_add.svg"></md-icon>
  </md-button>

  <!-- Objetos -->
  <md-button
    class="md-fab md-accent md-fab-bottom-right"
    aria-label="agregar objeto"
    ng-click="addObjetos()"
    ng-if="formShowed == 'Objetos' && botonesFAB.objetos">
    <md-icon md-svg-src="img/icons/ic_playlist_add.svg"></md-icon>
  </md-button>

  <!-- Multimedia -->
  <div
    class="md-button md-fab md-fab-top-right"
    style="top: 45px; right: 0"
    ng-if="formShowed == 'Multimedia' && botonesFAB.multimedia"
    ng-disabled="fileList.length === 5">
    <md-icon md-svg-src="img/icons/ic_collections.svg"></md-icon>
    <input
      type="file"
      id="iosFileInput"
      fileread="form.IOS_FilePath"
      accept="image/*"
      class="fileBrowserBtn"
      aria-label="Buscar archivos"
      ng-disabled="fileList.length === 5"
      ng-if="formShowed == 'Multimedia'">
  </div>
</ion-view>
