<ion-view title="Estatus Solicitudes">
  <ion-content>
    <md-content layout-padding>
      <md-subheader class="md-no-sticky">Consultar solicitud</md-subheader>
      <form id="consultaForm" name="consultaForm" novalidate="">
        <md-input-container class="md-block">
          <label>N&uacute;mero de Solicitud</label>
          <input
            type="number"
            name="numSolicitud" aria-label="Numero de Solicitud"
            required
            ng-model="numSolicitud"
            ng-disabled="!SESSION_ATTRS.isAuthenticated()"
            ng-keyup="validateField(numSolicitud)"
            md-auto-focus>
          <div ng-messages="consultaForm.numSolicitud.$error" role="alert">
            <div ng-message-exp="['required']">
              Este campo es requerido.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <md-button
            class="md-raised md-primary button-full"
            ng-if="SESSION_ATTRS.isAuthenticated()"
            ng-disabled="!casoFldOk || statusOk"
            ng-click="verStatus(numSolicitud)">
            Consultar estatus
            <i class="icon ion-android-search"></i>
          </md-button>

          <md-button
            class="md-raised md-accent button-full"
            ng-if="!SESSION_ATTRS.isAuthenticated()"
            ng-click="goToRegisterForm()">
            Quiero registrarme
            <i class="icon ion-forward"></i>
          </md-button>
        </md-input-container>


        <div class="card" ng-show="statusOk">
          <div class="item item-divider">
            Estado Actual
          </div>
          <div class="item item-body">
            El estado de la solicitud {{numSolicitud}} es: <b>{{statusCasoResult}}</b>
          </div>
        </div>
      </form>
    </md-content>

  </ion-content>
</ion-view>
