<ion-view title="Realizar Solicitud">
  <ion-content>

    <!--   BOTONERA  -->
    <div style="height: 70px; border:1px solid transparent;">
      <div class="list-borderless padding-horizontal" ng-if="MODULES.ENCUESTA.MM_FILES">
        <div class="botonera">
          <div class="innerDiv">
            <a href="" class="navButton leftBotton navBtnActivo">Solicitud</a>
            <a class="navButton rightBotton" ng-href="#/solicitudMultimedia">
              A&ntilde;adir Multimedia
            </a>
            <div class='square-box genericIcon'>
              <div class="square-content genericIcon"></div>
              <!--<a href=""  class="square-content brief">eon</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Botonera -->


    <md-content>
      <md-card>
        <!--<md-subheader class="md-no-sticky text-center">
            <h3 class="main-header">Datos generales</h3>
        </md-subheader>-->

        <!--<md-list layout-gt-sm="row" layout-padding>
          <md-subheader class="md-no-sticky text-center">{{servicio.name}}</md-subheader>
        </md-list>-->
        <form name="solicitudesForm">
          <md-subheader class="md-no-sticky text-center">Tipo de hechos</md-subheader>
          <md-content layout-padding>
            <md-input-container class="md-icon-float md-block">
              <label>Motivo</label>
              <md-select
                ng-model="solicitudForm.categoria"
                ng-change="getCatSubcategorias(solicitudForm.categoria.idhechos)">
                <md-option
                  ng-value="hecho"
                  ng-selected="$first"
                  ng-repeat="hecho in catCategoria track by hecho.idhechos">{{hecho.nombre}}</md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
              <label>Para</label>
              <md-select
                ng-model="solicitudForm.subcategoria">
                <md-option
                  ng-value="delito"
                  ng-selected="$first"
                  ng-repeat="delito in catSubcategoria track by delito.iddelitos">{{delito.nombre}}</md-option>
              </md-select>
            </md-input-container>

            <md-input-container>
              <label>Fecha</label>
              <md-datepicker
                ng-model="solicitudForm.fecha.selected"
                md-min-date="solicitudForm.fecha.min"
                md-max-date="solicitudForm.fecha.max"></md-datepicker>
            </md-input-container>
          </md-content>

          <!-- seccion... -->
          <md-subheader class="md-no-sticky text-center">Direcci&oacute;n de los hechos</md-subheader>
          <md-content layout-padding>
            <md-input-container class="md-icon-float md-block">
              <label>Estado</label>
              <md-select
                ng-model="solicitudForm.estado"
                ng-change="getCatMunicipios(solicitudForm.estado.id)">
                <md-option
                  ng-value="estado"
                  ng-selected="$first"
                  ng-repeat="estado in catEstados track by estado.id">{{estado.title}}</md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
              <label>Municipio</label>
              <md-select
                ng-model="solicitudForm.municipio"
                ng-change="municipiosChg(solicitudForm.municipio)">
                <md-option
                  ng-value="municipio"
                  ng-selected="$first"
                  ng-repeat="municipio in catMunicipios track by municipio.id">{{municipio.title}}</md-option>
              </md-select>
            </md-input-container>

            <md-list-item class="md-2-line">
              <div class="md-list-item-text" layout="column">
                <p ng-click="showMapHelp()">Quiero usar el mapa <i class="icon ion-help-circled"></i></p>
                <div class="md-secondary">
                  <md-button class="md-raised md-accent md-fab md-mini" aria-label="mapa" ng-click="openMapModal()">
                    <md-icon md-svg-src="img/icons/ic_map.svg"></md-icon>
                  </md-button>
                </div>
              </div>
            </md-list-item>
            <p ng-hide="hechosPosition.lat" class="help-block">
              &nbsp;<span class="errUpArrow">&#8593;</span>La geolocalizaci&oacute;n no est&aacute; habilitada.
            </p>

            <md-input-container class="md-icon-float md-block">
              <label>Colonia</label>
              <input
                type="text"
                name="den_coloniaFld"
                class="item-input-wrapper"
                ng-model="solicitudForm.colonia"
                required
                aria-label="colonia">
              <div ng-messages="solicitudesForm.den_coloniaFld.$error" role="alert">
                <div ng-message="required">
                  Este campo es requerido
                </div>
              </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
              <label>Calle</label>
              <input
                type="text"
                name="den_callesRefFld"
                class="item-input-wrapper"
                ng-model="solicitudForm.calle"
                required
                aria-label="calle">
              <div ng-messages="solicitudesForm.den_callesRefFld.$error" role="alert">
                <div ng-message="required">
                  Este campo es requerido
                </div>
              </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
              <label>Número</label>
              <input
                type="text"
                name="den_numero"
                class="item-input-wrapper"
                ng-model="solicitudForm.numero"
                maxlength="5"
                aria-label="numero">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
              <label>Entre las calles</label>
              <input
                class="item-input-wrapper"
                ng-model="solicitudForm.referencias"
                aria-label="referencias">
            </md-input-container>
          </md-content>

          <!-- seccion... -->

          <md-content layout-padding>
            <md-subheader class="md-no-sticky text-center">
              Relato de los hechos
            </md-subheader>
            <md-input-container class="md-block">
              <label>Describa aqu&iacute; los motivos de la soliciud</label>
              <textarea
                name="comentarios"
                required
                ng-model="solicitudForm.relatoHechos"
                md-maxlength="500"
                minlength="10"
                rows="5">
                </textarea>
              <div ng-messages="solicitudesForm.comentarios.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                  Debes escribir entre 10 y 500 caracteres.
                </div>
              </div>
            </md-input-container>

            <div class="text-right">
              <md-button
                class="md-raised md-primary"
                ng-click="confirmSubmit()"
                ng-show="SESSION_ATTRS.isAuthenticated()"
                ng-disabled="solicitudesForm.$invalid">
                Enviar
              </md-button>

              <md-button
                class="md-raised md-accent"
                ng-click="goToState('registro')"
                ng-show="!SESSION_ATTRS.isAuthenticated()">
                Quiero registrarme
                <i class="icon ion-forward"></i>
              </md-button>

              <md-button
                class="button-full md-raised"
                style="background-color: yellow; color: #8f8f8f"
                ng-show="DEBUG_MODE"
                ng-click="showSurvey()">
                Denuncia de prueba
              </md-button>
            </div>
          </md-content>
        </form>
      </md-card>
    </md-content>
  </ion-content>
</ion-view>
