<ion-view title="Agregar Multimedia">
  <ion-content>

    <!--   BOTONERA  -->
    <div style="height: 70px; border:1px solid transparent;">
      <div class="list-borderless padding-horizontal" ng-if="MODULES.ENCUESTA.MM_FILES">
        <div class="botonera">
          <div class="innerDiv">
            <a href="" class="navButton leftBotton" ng-click="$ionicGoBack()">Solicitud</a>
            <a class="navButton rightBotton navBtnActivo">
              A&ntilde;adir Multimedia
            </a>
            <div class='square-box genericIcon'>
              <div class="square-content genericIcon"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Botonera -->

    <md-content>
      <md-card>
        <form name="multimedia_Form" novalidate>
          <md-subheader class="md-no-sticky text-center">Validar Solicitud</md-subheader>
          <md-content layout-padding>
            <md-input-container class="md-block">
              <label>Solicitud</label>
              <input
                type="number"
                name="numSolicitud"
                placeholder="Ejemplo: 1234"
                required
                autofocus
                ng-change="validateField(multimediaForm.idSolicitud)"
                ng-disabled="!SESSION_ATTRS.isAuthenticated()"
                ng-model="multimediaForm.idSolicitud">
              <div ng-messages="multimedia_Form.numSolicitud.$error">
                <div ng-message="required">Este campo es reqerido</div>
              </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
              <label>Motivo</label>
              <md-select
                ng-model="multimediaForm.categoria"
                ng-change="getCatSubcategorias(multimediaForm.categoria.idhechos)">
                <md-option
                  ng-value="hecho"
                  ng-selected="$first"
                  ng-repeat="hecho in catCategoria track by hecho.idhechos">
                  {{hecho.nombre}}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
              <label>Para</label>
              <md-select
                ng-model="multimediaForm.subcategoria">
                <md-option
                  ng-value="delito"
                  ng-selected="$first"
                  ng-repeat="delito in catSubcategoria track by delito.iddelitos">
                  {{delito.nombre}}
                </md-option>
              </md-select>
            </md-input-container>

            <div class="text-right">
              <md-button
                class="md-raised md-primary"
                ng-click="validateTicket()"
                ng-show="SESSION_ATTRS.isAuthenticated() && !ticketFormOk"
                ng-disabled="!ticketFieldOk"
                aria-label="Validar">
                Validar
                <!--<i class="icon ion-eye"></i>-->
              </md-button>

              <md-button
                class="md-raised md-accent"
                ng-click="goToState('registro')"
                ng-if="!SESSION_ATTRS.isAuthenticated()">
                Quiero registrarme
                <i class="icon ion-forward"></i>
              </md-button>
            </div>
          </md-content>


          <md-content ng-if="fileList.length">
            <md-subheader class="md-no-sticky text-center">Archivos multimedia</md-subheader>
              <table style="width:100%; margin: 0">
                <thead class="fileTableHeader">
                <tr>
                  <th><a href="" >&nbsp;&nbsp;Archivo {{fileList.length}} de 5</a></th>
                </tr>
                </thead>
                <tbody>
                <tr
                  ng-class-odd="'odd'" ng-class-even="'even'"
                  ng-repeat="file in fileList">
                  <td class="fileTableCol fileTableCol-nombre">
                    <md-progress-linear
                      id="ft-prog2-{{file.id}}"
                      class="md-accent"
                      md-mode="determinate" value="{{file.total}}">
                      {{file.total| number: 0}}%
                    </md-progress-linear>
                    <div class="row">
                      <div class="col-90">
                        <div style="vertical-align: middle">
                          <img ng-if="file.isImage" ng-src="{{file.uri}}" alt="" style="max-width: 60px; max-height: 60px;">
                          <md-icon ng-if="!file.isImage" md-svg-icon="img/icons/ic_insert_drive_file.svg"></md-icon>
                        </div>
                        <div class="fileName" style="margin-left:auto;margin-right:auto;">
                          {{file.nombre}}
                        </div>
                      </div>
                      <div class="col-10" ng-click="confirmDeleteFile($index)">
                        <img src="" class="removeFileIcon" alt="quitar archivo" style="padding: 0;">
                      </div>
                    </div>
                  </td>
                </tr>
                <tr ng-show="!fileList.length">
                  <td colspan="2" class="fileTableCol" style="text-align: center">
                    A&uacute;n no ha agregado archivos...
                  </td>
                </tr>
                </tbody>
              </table>

              <p class="denWarnigns text-right" ng-show="!fileList.length">
                Agregue fotos, audio o video a la solicitud
              </p>
          </md-content>

          <md-subheader class="md-no-sticky text-center">Comentarios</md-subheader>
          <md-content>
            <md-card-content>
              <md-input-container class="md-block">
                <label>Descripci&oacute;n</label>
                <textarea
                  name="comentarios"
                  rows="5"
                  required
                  placeholder="Comentarios (al menos 10 caracteres)"
                  ng-model="multimediaForm.comentarios"
                  minlength="10"
                  maxlength="500"></textarea>
                <div ng-messages="multimedia_Form.comentarios.$error" role="alert">
                  <div ng-message-exp="['required', 'minlength', 'maxlength']">
                    Debes escribir entre 10 y 500 caracteres.
                  </div>
                </div>
              </md-input-container>

              <div layout="row">
                <div layout="column" flex="50">
                  <md-button
                    class="md-raised md-accent"
                    ng-click="clearForm()"
                    ng-disabled="!ticketFieldOk || multimedia_Form.$invalid">
                    <i class="icon ion-android-cancel"></i>
                    &nbsp;Limpiar
                  </md-button>
                </div>
                <div layout="column" flex="50">
                  <md-button
                    class="md-raised md-primary"
                    ng-disabled="!ticketFormOk || multimedia_Form.$invalid"
                    ng-click="validateAndSubmit()">
                    Enviar
                    <i class="icon ion-android-upload"></i>
                  </md-button>
                </div>
              </div>
            </md-card-content>
          </md-content>
        </form>
      </md-card>
    </md-content>
  </ion-content>

  <!-- Multimedia -->
  <div
    class="md-button md-fab md-fab-top-right"
    style="top: 60px"
    ng-if="ticketFormOk && fileList.length < 5"
    ng-disabled="fileList.length === 5">
    <md-icon md-svg-src="img/icons/ic_collections.svg"></md-icon>
    <input
      type="file"
      fileread="form.IOS_FilePath"
      accept="*/*"
      class="fileBrowserBtn"
      aria-label="Buscar archivos"
      ng-disabled="fileList.length === 5"
      ng-if="ticketFormOk && fileList.length < 5">
  </div>

</ion-view>

