<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <!-- ESTILOS LIBRERIAS TERCEROS -->
    <link href="lib/angular-material/angular-material.css" rel="stylesheet">
    <link href="css/ionic.contrib.drawer.css" rel="stylesheet">

    <!-- MIS ESTILOS -->
    <link href="css/style.css" rel="stylesheet">


    <link href="lib/ionic/css/ionic.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- LIBRERIAS JS TERCEROS -->
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>

    <script src="vendor/ionic.contrib.drawer.js"></script>
    <script src="vendor/ng-cordova.min.js"></script>
    <!--<script src="vendor/ng-map.min.js"></script>-->
    <script src="vendor/md5.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/appGlobalConfig.js"></script>
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>

    <!-- SERVICIOS -->
    <script src="js/services/botonBLEServices.js"></script>
    <script src="js/services/diagnosticServices.js"></script>
    <script src="js/services/emergencyServices.js"></script>
    <script src="js/services/fileMgrServices.js"></script>
    <script src="js/services/filereadDirectives.js"></script>
    <script src="js/services/geolocationGPSBasedServices.js"></script>
    <script src="js/services/geolocationTrackingServices.js"></script>
    <script src="js/services/geolocationWebBasedServices.js"></script>
    <script src="js/services/mapServices.js"></script>
    <script src="js/services/solicitudesFormServices.js"></script>
    <script src="js/services/surveyServices/surveyPreguntasServices.js"></script>
    <script src="js/services/surveyServices/surveyVehiculosServices.js"></script>
    <script src="js/services/surveyServices/surveySujetosServices.js"></script>
    <script src="js/services/surveyServices/surveyObjetosServices.js"></script>
    <script src="js/services/surveyServices/surveyMultimediaServices.js"></script>
    <script src="js/services/sesion/sessionServices.js"></script>
    <script src="js/services/sesion/user_sessionServices.js"></script>
    <script src="js/services/utilsServices.js"></script>


    <!-- CONTROLADORES -->
    <script src="js/controllers/partials/diagnosticsController.js"></script>
    <script src="js/controllers/partials/partialsControllers.js"></script>
    <script src="js/controllers/partials/avisosController.js"></script>

    <script src="js/controllers/bluetoothController.js"></script>
    <script src="js/controllers/contactanosController.js"></script>

    <script src="js/controllers/inicioController.js"></script>
    <script src="js/controllers/menuController.js"></script>
    <script src="js/controllers/sesion/sesionController.js"></script>
    <script src="js/controllers/solicitud/misSolicitudesController.js"></script>
    <script src="js/controllers/solicitud/solicittudSurveyController.js"></script>
    <script src="js/controllers/solicitud/solicitudConsultaController.js"></script>
    <script src="js/controllers/solicitud/solicitudFormController.js"></script>
    <script src="js/controllers/solicitud/solicitudMultimediaController.js"></script>
  </head>
  <body ng-app="app" animation="slide-left-right-ios7">
  <ion-pane ng-click="closeDrawer()">
    <ion-side-menus>
      <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
          <ion-nav-back-button
            class="button-icon icon"
            ng-class="!PLATFORM.isAndroid() ? 'ion-ios-arrow-back':'ion-android-arrow-back'">
          </ion-nav-back-button>
          <ion-nav-buttons side="left">
            <button
              class="button button-icon button-clear {{DEBUG_MODE?'ion-bug':'ion-navicon'}}"
              menu-toggle="left"
              style="{{DEBUG_MODE? 'color: yellow;':''}}"
              ng-click="closeDrawer()">
            </button>
          </ion-nav-buttons>

          <ion-nav-buttons side="secondary" ng-if="DEBUG_MODE">
            <md-button
              class="md-icon-button"
              aria-label="More">
              <md-icon
                md-menu-origin
                md-svg-icon="img/icons/more_vert.svg"
                style="{{DEBUG_MODE? 'color: orangered;':'color: #fff;'}}"
                ng-click="toggleConsoleLog()"></md-icon>
            </md-button>
          </ion-nav-buttons>

          <div ng-include="&apos;templates/partials/avisosDrawerTpl.html&apos;" ng-if="MODULES.ALERTS"></div>

        </ion-nav-bar>

        <ion-nav-view></ion-nav-view>

      </ion-side-menu-content>

      <ion-side-menu side="left">
        <div ng-include="&apos;templates/menu.html&apos;"></div>
      </ion-side-menu>
    </ion-side-menus>



    <script src="http://maps.google.com/maps/api/js?sensor=false&amp;v=3&amp;libraries=geometry"></script>

  </ion-pane>

  <div ng-controller="diagnosticsCtrl"></div>

  <div ng-include="'templates/partials/consoleTpl.html'"></div>

  </body>
</html>
