<drawer
        id="my-drawer"
        side="right"
        style="height: calc(100% - {{!PLATFORM.isAndroid() ? '64':'44'}}px); top:{{!PLATFORM.isAndroid() ? '64':'44'}}px">
  <ion-content ng-controller="alertasCtrl" style="top:0px;">

      <div
        class="item-divider text-center"
        style="background-color: #ffdb00;">
        Aviso{{alertas.length>1?'s':''}} Importante{{alertas.length>1?'s':''}} {{alertas.length>1? '('+alertas.length+')':''}}
      </div>
      <div class="card" ng-repeat="alerta in alertas">
        <div class="item-balanced item-divider padding-horizontal">
          <div class="text-center" ng-bind-html="alerta.titulo" ></div>
          <div class="text-right">
            <span style="margin: auto 0 auto 0; font-size: 10px;">{{alerta.fecha}}</span>
          </div>

        </div>
        <div class="item item-body" style="padding-top: 0">
          <p ng-bind-html="alerta.mensaje" style="text-align: justify"></p>
        </div>
      </div>

  </ion-content>
</drawer>
