<div id="consoleLog" ng-controller="consoleCtrl">
  <div
    id="closeConsole-button"
    ng-click="clearLogConsole()"
    ng-show="APP_LOG">
    <i class="ion-close-circled"></i>
  </div>
  <ion-scroll delegate-handle="consoleScroll" direction="y" style="height: 100%; margin-bottom: 12px;">
    <div
      id='appLogContent'
      class="item item-text-wrap text-left"
      ng-bind-html="APP_LOG"></div>
  </ion-scroll>
</div>

