<md-dialog aria-label="confirm-dialog">
  <md-dialog-content class="md-dialog-content">
    <div>
      <h2 class="md-title">{{displayOption.title}}</h2>

      <p ng-bind-html="displayOption.content" md-auto-focus></p>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-dialog-actions>
      <md-button class="md-accent dialog-action-btn" ng-click="cancel()" ng-if="displayOption.cancel">
        {{displayOption.cancel}}
      </md-button>
      <md-button class="md-primary dialog-action-btn" ng-click="ok()">
        {{displayOption.ok}}
      </md-button>
    </md-dialog-actions>
  </md-dialog-actions>
</md-dialog>
