<table style="width:100%; margin: 0" ng-if="fileList.length">
  <tbody>
  <tr
    ng-class-odd="'odd'" ng-class-even="'even'"
    ng-repeat="file in fileList">
    <td class="fileTableCol-nombre">
      <md-progress-linear
        id="ft-prog-{{file.id}}-2"
        class="md-accent"
        md-mode="determinate" value="{{file.total}}">
        {{file.total| number: 0}}%
      </md-progress-linear>
      <md-icon md-svg-icon="img/icons/ic_insert_drive_file.svg"></md-icon>
      {{file.nombre}}
    </td>
  </tr>
  </tbody>
</table>
