
<md-bottom-sheet class="md-grid">
  <!--list section-->
  <md-list id="bottom-sheet-grid-md-list">
    <md-list-item>
      <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
        <md-icon md-svg-src="facebook"></md-icon>
        <div class="md-grid-text"> Facebook</div>
      </a>
    </md-list-item>
    <md-list-item>
      <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
        <md-icon md-svg-src="twitter"></md-icon>
        <div class="md-grid-text"> Twitter</div>
      </a>
    </md-list-item>
    <md-list-item>
      <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
        <md-icon md-svg-src="mail"></md-icon>
        <div class="md-grid-text"> Mail</div>
      </a>
    </md-list-item>
    <md-list-item>
      <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
        <md-icon md-svg-src="facebook"></md-icon>

        <div class="md-grid-text"> Save Image</div>
      </a>
    </md-list-item>
    <md-list-item>
      <a class="md-grid-item-content" ng-click="closeListBottomSheet()">
        <md-icon md-svg-src="share-arrow"></md-icon>
        <div class="md-grid-text"> More</div>
      </a>
    </md-list-item>
  </md-list>
</md-bottom-sheet>