
<md-bottom-sheet class="md-list md-has-header">
  <h1 class="md-bottom-sheet-header">List Bottom Sheet</h1>
  <!--list section-->
  <md-list>
    <md-list-item>
      <a class="md-default-theme md-bottom-sheet-list-item"
         ng-click="closeListBottomSheet()">
        <i class="ion-android-call"></i>
        <span>Actions 1</span>
      </a>
    </md-list-item>
    <md-list-item>
      <a class="md-default-theme md-bottom-sheet-list-item"
         ng-click="closeListBottomSheet()">
        <i class="ion-android-list"></i>
        <span>Actions 2</span>
      </a>
    </md-list-item>
    <md-list-item>
      <a class="md-default-theme md-bottom-sheet-list-item"
         ng-click="closeListBottomSheet()">
        <i class="ion-android-delete"></i>
        <span>Actions 3</span>
      </a>
    </md-list-item>
  </md-list>

  <!--end list section-->
</md-bottom-sheet>

