<md-toast class="toast-form text-center">
  <p flex ng-bind-html="displayOption.message"></p>
</md-toast>

<!--<md-toast>
  <span class="md-toast-text" flex>Custom toast!</span>
  <md-button class="md-highlight" ng-click="openMoreInfo($event)">
    More info
  </md-button>
  <md-button ng-click="closeToast()">
    Close
  </md-button>
</md-toast>-->