drawer {
  display: block;
  position: fixed;
  width: 270px;
  /*height: calc(100% - 44px);/* Android */
  height: calc(100% - 64px);/* IOS */
  z-index: 110;
  background: #ffffff;
}

drawer.animate {
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

drawer.left {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  box-shadow: -1px 0px 0px rgba(0,0,0,0.3);
}
drawer.right {
  right: 0;
  /*top: 44px;/* Android */
  top: 64px;/* IOS */
  padding-top: 10px;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  box-shadow: -1px 2px 10px rgba(0,0,0,0.3);
}