.bar.bar-positive{
  border-color: #22254c !important;
  background-color: #22254c !important;
  background-image: linear-gradient(0deg, #22254c, #22254c 50%, transparent 50%);
}

.button-positive {
  background-color: #22254c !important;
}

.pane{
  background-color: #fafafa
}
ion-view{
  background: url(../img/inicio_blured.jpeg) 50% 0% no-repeat;
  background-size: cover;
  /*height: 100%;*/
}


/*  MENU LATERAL */
.isChildTabActive{
  color: #ff4081;
}
/* -- FIN MENU LATERAL */


input.md-input{
  border-color: rgba(0,0,0, .12);
}

button.button-full{
  margin: 0;
}

/* ------------- SECCION: CONTENEDORES-PRINCIPALES ---------- */
md-content._md{
  background: none;
}

md-card{
  background: rgba(255,255,255, 0.6);
}
.md-select-menu-container{
  background: white;
}
/* ========= FIN SECCION: CONTENEDORES-PRINCIPALES ========= */

/* +++++++++++++++ FORMULARIOS +++++++++++++++++*/
.odd{
  /*background-color: #C6FDC6;*/
}

.even{
  background-color: #e7f4e5;
}


.errUpArrow{
  font-size: 1.1em;
  font-weight: bold;
  font-style: normal;
}


/* ++++++++++++ BIENVENIDA +++++++++++++++ */
#welcome-company-icon{
  content: url(../img/welcome-corp-icon.png);
  margin: auto;
  display:block;
  max-width: 150px;
  width: 100%;
}

.thumbnail{
  /* height: 70px; */
  width: 85px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  float: left;
  /* margin-right: 21px; */
}

#welcome-denunciaAnonima-button-icon{
  /*content: url(../img/welcome-denunciaAnonima-button-icon.gif);*/
  content: url(../img/welcome-denunciaAnonima-button-icon.png);
  margin: 20px auto;
  display:block;
  max-width: 150px;
  width: 100%;

  border: 5px solid #323773;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0 0 20px  black;
}

#welcome-auxilio-button-icon{
  content: url(../img/sos-icon.png);
  margin: 20px auto ;
  display:block;
  max-width: 150px;
  width: 100%;

  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

#welcome-auxilio-button-icon.BT-disconnected{
  border: 5px solid yellow;
}

#welcome-auxilio-button-icon.BT-disconnected-Tracking{
  background-color: #AF1015;

  -webkit-animation: redTracking 3s linear infinite;
	-moz-animation: redTracking 3s linear infinite;
	-ms-animation: redTracking 3s linear infinite;
	animation: redTracking 3s linear infinite;
  animation-delay: 3s;
}

@keyframes redTracking {
  0% {
    border: 5px solid orange;
  }
  50% {
    border: 5px solid #AF1015;
  }
  100%{
    border: 5px solid orange;
  }
}

@-moz-keyframes redTracking {
  0% {
    border: 5px solid orange;
  }
  50% {
    border: 5px solid #AF1015;
  }
  100%{
    border: 5px solid orange;
  }
}

@-webkit-keyframes redTracking {
  0% {
    border: 5px solid orange;
  }
  50% {
    border: 5px solid #AF1015;
  }
  100%{
    border: 5px solid orange;
  }
}

@-ms-keyframes redTracking {
  0% {
    border: 5px solid orange;
  }
  50% {
    border: 5px solid #AF1015;
  }
  100%{
    border: 5px solid orange;
  }
}

#welcome-auxilio-button-icon.BT-connected{
  box-shadow: 0 0 20px  green;
}

#welcome-auxilio-button-icon.BT-connected-Tracking{
  background-color: green;

  -webkit-animation: greenTracking 3s linear infinite;
  -moz-animation: greenTracking 3s linear infinite;
  -ms-animation: greenTracking 3s linear infinite;
  animation: greenTracking 3s linear infinite;
  animation-delay: 3s;
}
@keyframes greenTracking {
  0% {
    border: 5px solid lightgreen;
  }
  50% {
    border: 5px solid green;
  }
  100%{
    border: 5px solid lightgreen;
  }
}

@-moz-keyframes greenTracking {
  0% {
    border: 5px solid lightgreen;
  }
  50% {
    border: 5px solid green;
  }
  100%{
    border: 5px solid lightgreen;
  }
}

@-webkit-keyframes greenTracking {
  0% {
    border: 5px solid lightgreen;
  }
  50% {
    border: 5px solid green;
  }
  100%{
    border: 5px solid lightgreen;
  }
}

@-ms-keyframes greenTracking {
  0% {
    border: 5px solid lightgreen;
  }
  50% {
    border: 5px solid green;
  }
  100%{
    border: 5px solid lightgreen;
  }
}




#socialNetworks-header{
  background-color: #FFC902;
  border: #BB9300 1px solid;
  border-radius: 45% 0% 45% 0%;
  -moz-border-radius: 45% 0% 45% 0%;
  -webkit-border-radius: 45% 0% 45% 0%;

  font-size: 17px;
  color: #051C1F;

  margin: 20px auto;
  box-shadow: 2px 3px 8px  black;
}
/* ------------ BIENVENIDA --------------- */


/* ++++++++++++++ DENUNCIAS-FORM *++++++++++++*/

.innerDiv {
  display: block;
  min-width: 300px;
  max-width: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

.navButton{
  height: 28px;
  padding-top: 4px;
  border: 1px solid;
  display: block;
  min-width: 130px;
  max-width: 400px;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  background-color: grey;
  color: white
}
.leftBotton {
  margin-bottom: auto;
  -webkit-border-radius: 32px 0px 0px 32px;
  -moz-border-radius: 32px 0px 0px 32px;
  border-radius: 32px 0px 0px 32px;
  margin-right: 50%;
}

.rightBotton {
  -webkit-border-radius: 0px 32px 32px 0px;
  -moz-border-radius: 0px 32px 32px 0px;
  border-radius: 0px 32px 32px 0px;
  margin-left: 50%;
  margin-top: -28px;
  padding-left: 12px;
}

.navBtnActivo{
  font-weight: initial;
  text-decoration: none;
  background-color: #22254c;
}

/* imagen central*/
.square-box{
  position: relative;
  margin: auto;
  width: 60%;
  overflow: hidden;
  /*border:3px solid #8AC007;*/
}

.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-box.genericIcon{
  width: 60px;
  top: -53px;
  padding: 0px;
}
.square-content{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  padding: 10px;
}
.square-content.genericIcon{
  background: url(../img/genericIcon.png) #adeafb no-repeat 0px 0px;
  background-size: 54px;
  width: 54px;
  height: 54px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}


/* ----------- FIN DENUNCIAS-FORM ------------*/

/* +++++++++++++++++ MAPA ++++++++++++++++++*/
.scroll {
  height: 100%;
}

.map{
  width: 100%;
  height: calc(100% + 25px);
  /*min-height: 600px;*/
  position: relative;
  background-color: #387ef5;
}
/*+++++++++++++++++ FIN MAPA +++++++++++++++++++*/




/* ++++++++++++++++++ Acerca De ++++++++++++++++++++++++++++ */
#aboutAppIcon{
  content: url(../img/welcome-corp-icon.png);
  max-width: 120px;
}

#aboutEonIcon{
  content: url(../img/eonLogo.png);
  /*width: 100%;*/
  height: 60px;
}
/* ------------------------ Acerca De ------------------------ */


/* -------------------- SECCION: SESION ----------------- */

#login-logo{
  width: 160px;
  height: 160px;
}
#login-input-container{
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}
#login_Form input{
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  width: 270px;
  padding-left: 10px;
}

#login_Form label, #login-view .md-input-message-animation{
  margin-left: 10px;
}


#login-view button{
  width: 270px;
}

/* ================== FIN SECCION: SESION =========== */

/* ++++++++++++++++++++ TABLES +++++++++++++++++++++++*/
.fileTableHeader{
  background: linear-gradient(0deg, #c8c8c8, #ffffff, #c8c8c8);
}

.fileTableHeader a{
  text-decoration: none;
  margin-left: 5px;
  color: #007a01;
  font-size: larger;
}

.fileTableHeader th{
  border-right: #ccc 1px solid;
  color: #007a01;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fileTableCol{
  border-left: #ccc 1px solid;
  border-right: #ccc 1px solid;
  border-bottom: #ccc 1px solid;
  padding-bottom: 5px;
  text-align: center;
}

.taller-Col{
  height: 35px;
  vertical-align: bottom;
}

.fileTableCol-nombre{
  width: 65%;

}
.fileName{
  max-width: 175px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fileTableCol-progress{
  width: 25%;
  padding: 0;
}

.fileTableCol-remove{
  padding: 0;
  width: 3%;
}

.removeFileIcon{
  content: url(../img/trashIcon-dark.png);
  width: 16px;
  border: 0px;
  margin: 5px auto auto auto;
  display: block;
}

md-progress-linear .md-container,
md-progress-linear.md-default-theme .md-container,
md-progress-linear.md-accent .md-container{
  background-color: inherit;
}
/* -------------------- FIN TABLES ------------------------*/

/* contactanos */
#about-eonIcon-container, #about-companyIcon-container{
  text-align: center;
  padding-top: 20px;
}
/* Fin contactanos */


/* Survey */
.fileBrowserBtn{
    opacity: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: -40px;
    width: 56px;
    height: 56px;
    z-index: 100;
    border-radius: 50%;
}
/* Fin Survey */


/* ------------------- OTROS ------------------------ */
.spacer-buttom{
  height: 50px;
}
.spacer-bottom-for-fab{
  height: 70px;
}

#consoleLog{
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 1;
  visibility: hidden;
  background-color: black;
  padding-bottom: 10px;
  padding-top: 5px;
}
#closeConsole-button{
  text-align: right;
  position: inherit;
  top: 4px;
  right: 7px;
  z-index: 1;
  color: white;
}

#appLogContent{
  height: 100%;
  border:0;
  background-color: black;
  color: grey;
}

.log-fromFunction{
  color: cyan;
}


.log-message-info{
  color: white;
}
.log-message-success{
  color: lime;
}
.log-message-log{
  color: dodgerblue;
}
.log-message-warn{
  color: yellow;
}
.log-message-error{
  color: red;
}
.log-fromFile{
  color: silver;
}
/* ------------------- FIN OTROS -------------------- */
